{% for last_blog in last_blogs %}
    <div class="icon-item">
        <img src="{{ last_blog.image.url }}" alt="{{ last_blog.title }}"/>
        <h4><a href="{% url 'blog_news' last_blog.id last_blog.slug %}">{{ last_blog.title }} </a></h4>
        <p>{{ last_blog.short_text|slice:'77' }} </p>
    </div>
{% endfor %}