{% for last_tournament in last_tournaments %}
<div class="icon-item">
    <img src="{{ last_tournament.image.url }}" alt="{{ last_tournament.title }}"/>
    <h4><a href="{% url 'tournament' last_tournament.id last_tournament.slug %}">{{ last_tournament.title }} </a></h4>
    <p>{{ last_tournament.short_text|slice:'77' }} </p>
</div>
{% endfor %}