{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% block title_block %}
{% endblock %}

{% block head_block %}

    <link rel="stylesheet" href="{% static 'mainsection/css/magnific-popup.css' %}"/>
{% endblock %}

{% block content_block %}
    <style>
        .nav-tabs {
            border-bottom: 2px solid #DDD;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            border-width: 0;
        }

        .nav-tabs > li > a {
            border: none;
            color: #666;
        }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: #4285F4 !important;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #4285F4;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

        .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
            transform: scale(1);
        }

        .tab-nav > li > a::after {
            background: #21527d none repeat scroll 0% 0%;
            color: #fff;
        }

        .tab-pane {
            padding: 15px 0;
        }

        .tab-content {
            padding: 20px
        }

        .card {
            background: #FFF none repeat scroll 0% 0%;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            margin-bottom: 30px;
        }

    </style>
    <section class="main__middle__container section-row-backgorund-image-no-transparent">
        <div class="container section-container-backgorund-color">
            <div class="row nothing title__block">
                <div class="container text-center">
                    <h2 class="page__title"><span>{{ title }}</span></h2>
                    <span class="sep"></span>
                </div>
            </div>
{#            <div class="row no_padding nothing">#}
{#                <div class="col-md-4">#}
{#                    {% if vugar_page %}#}
{#                        <img src="#}
{#                                {% if vugar_page.portrait_image %}{{ vugar_page.portrait_image|thumbnail_url:'vugar_about_thumb' }}{% else %}{% endif %}"#}
{#                             alt="{% trans 'Vugar_Gashimov' %}" class="img-responsive no-margin full-width"/>#}
{#                    {% endif %}#}
{#                </div>#}
{#                <div class="col-md-8">#}
{#                    <h3>{% trans 'Vugar_Gashimov' %} </h3>#}
{#                    <hr/>#}
{#                    {% if vugar_page %}#}
{#                        {% autoescape off %}#}
{#                            {{ vugar_page.short_description }}#}
{#                        {% endautoescape %}#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#            <hr/>#}
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <div class="card">
{#                        <ul class="nav nav-tabs" role="tablist">#}
                            {#                    <li role="presentation" class="active"><a href="{% url 'about_vuqar' 'biography' %}">Home</a></li>#}
{#                            <li role="presentation" class="{% if v_slug == 'biography' %}active{% endif %} "><a#}
{#                                    href="{% url 'about_vuqar' 'biography' %}">{% trans 'biography' %}</a>#}
{#                                </li>#}
{#                            <li role="presentation" class="{% if v_slug == 'childhood' %}active{% endif %} "><a#}
{#                                    href="{% url 'about_vuqar' 'childhood' %}">{% trans 'vugar_childhood' %}</a>#}
{#                                </li>#}
{#                            <li role="presentation" class="{% if v_slug == 'titles' %}active{% endif %} "><a#}
{#                                    href="{% url 'about_vuqar' 'titles' %}">{% trans 'vuqar_titles' %}</a></li>#}
{#                            <li role="presentation" class="{% if v_slug == 'photos' %}active{% endif %} "><a#}
{#                                    href="{% url 'about_vuqar' 'photos' %}">{% trans 'my_vugars_world' %}</a></li>#}
{#                            <li role="presentation" class="{% if v_slug == 'aphorism' %}active{% endif %} "><a#}
{#                                    href="{% url 'about_vuqar' 'aphorism' %}">{% trans 'aphorism' %}</a></li>#}
{#                            <li role="presentation" class="{% if v_slug == 'vuqar-in-the-world' %}active{% endif %} "><a#}
{#                                    href="{% url 'about_vuqar' 'vuqar-in-the-world' %}">{% trans 'vuqar-in-the-world' %}</a>#}
{#                            </li>#}
{#                            <li role="presentation" class="{% if v_slug == 'genius' %}active{% endif %} "><a#}
{#                                    href="{% url 'about_vuqar' 'genius' %}">{% trans 'genius' %}</a></li>#}
{#                            <li role="presentation" class="{% if v_slug == 'disinterested-human' %}active{% endif %} ">#}
{#                                <a href="{% url 'about_vuqar' 'disinterested-human' %}">{% trans 'disinterested-human' %}</a>#}
{#                            </li>#}
{#                            <li role="presentation" class="{% if v_slug == 'vugar-museum' %}active{% endif %} "><a#}
{#                                    href="{% url 'about_vuqar' 'vugar-museum' %}">{% trans 'vugar-museum' %}</a></li>#}
{#                        </ul>#}

                        <!-- Tab panes -->
                        <div class="tab-content" id="vugare-page-main-data">
                            <div role="tabpanel" class="tab-pane active">
                                {% if v_slug == 'biography' %}
                                    {% if vugar_page %}
                                        {% autoescape off %}
                                            {{ vugar_page.biography }}
                                        {% endautoescape %}
                                    {% endif %}
                                {% elif v_slug == 'childhood' %}
                                    {% if vugar_page %}
                                        <div id="portfolio" class="row no_padding title__block nothing no-margin">
                                            <ul id="Grid" class="gallery">
                                                {% for get_childhood_photo in vugar_page.get_childhood_photos %}
                                                    <li class="mix webdesign col-sm-4">
                                                        <a href="{{ get_childhood_photo.photo.url }}">
                                                            <img alt="" src="{{ get_childhood_photo.photo|thumbnail_url:'vugar_about_other_thumbs' }}"
                                                                 class="img-responsive"/>
                                                            <span class="text">{{ get_childhood_photo.short_description }}</span>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% elif v_slug == 'titles' %}
                                    {% if vugar_page %}
                                        {% autoescape off %}
                                            {{ vugar_page.titles }}
                                        {% endautoescape %}
                                    {% endif %}
                                {% elif v_slug == 'photos' %}
{#                                    <div class="container text-center">#}
{#                                        <h2 class="page__title"><span>{{ title }}</span></h2>#}
{#                                    </div>#}
                                    <div id="portfolio" class="row no_padding title__block nothing no-margin">
                                        <ul id="Grid" class="gallery">

                                            {% for get_photo in vugar_page.get_photos %}
                                                <li class="mix webdesign col-sm-4">
                                                    <a href="{{ get_photo.photo.url }}">
                                                        <img alt="" src="{{ get_photo.photo|thumbnail_url:'vugar_about_other_thumbs' }}"
                                                             class="img-responsive"/>
                                                        <span class="text">{{ get_photo.short_description }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% elif v_slug == 'aphorism' %}
                                    {% if vugar_page %}
                                        {% autoescape off %}
                                            {{ vugar_page.aphorism }}
                                        {% endautoescape %}
                                    {% endif %}
                                {% elif v_slug == 'vuqar-in-the-world' %}
                                    {% if vugar_page %}
                                        {% autoescape off %}
                                            {{ vugar_page.vuqar_in_the_world }}
                                        {% endautoescape %}
                                    {% endif %}
                                {% elif v_slug == 'genius' %}
                                    {% if vugar_page %}
                                        {% autoescape off %}
                                            {{ vugar_page.genius }}
                                        {% endautoescape %}
                                    {% endif %}
                                {% elif v_slug == 'disinterested-human' %}
                                    {% if vugar_page %}
                                        {% autoescape off %}
                                            {{ vugar_page.disinterested_human }}
                                        {% endautoescape %}
                                        <div id="portfolio" class="row no_padding title__block nothing no-margin">
                                            <ul id="Grid" class="gallery">
                                                {% for get_museum_image in vugar_page.get_museum_images %}
                                                    <li class="mix webdesign col-sm-4">
                                                        <a href="{{ get_museum_image.image.url }}">
                                                            <img alt="" src="{{ get_museum_image.photo|thumbnail_url:'vugar_about_other_thumbs' }}"
                                                                 class="img-responsive"/>
                                                            <span class="text">{{ get_museum_image.short_description }}</span>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% elif v_slug == 'vugar-museum' %}
                                    {% if vugar_page %}
{#                                        <div class="container text-center">#}
{#                                            <h2 class="page__title"><span>{{ title }}</span></h2>#}
{#                                        </div>#}
                                        {% autoescape off %}
                                            {{ vugar_page.vugar_museum }}
                                        {% endautoescape %}
                                        <div id="portfolio" class="row no_padding title__block nothing no-margin">
                                            <ul id="Grid" class="gallery">
                                                {% for get_museum_image in vugar_page.get_museum_images %}
                                                    <li class="mix webdesign col-sm-4">
                                                        <a href="{{ get_museum_image.image.url }}">
                                                            <img alt="" src="{{ get_museum_image.photo|thumbnail_url:'vugar_about_other_thumbs' }}"
                                                                 class="img-responsive"/>
                                                            <span class="text">{{ get_museum_image.short_description }}</span>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer_block %}

    <script src="{% static 'mainsection/js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'mainsection/js/jquery.magnific-popup.js' %}"></script>
    {#{% if v_slug == 'photos' or v_slug == 'photos' %}#}
    <script type="text/javascript">
        $("a.submenu").click(function () {
            $(".menuBar").slideToggle("normal", function () {
// Animation complete.
            });
        });
        $("ul li.dropdown a").click(function () {
            $("ul li.dropdown ul").slideToggle("normal", function () {
// Animation complete.
            });
            $('ul li.dropdown').toggleClass('current');
        });
        $(document).ready(function () {
// Start work gallery
            $('#Grid').mixitup();
        });
        $('.gallery').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        });
    </script>
    {#{% endif %}#}
{% endblock %}