{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block head_block %}

    <link href="{% static 'mainsection/datepicker/css/bootstrap-datepicker.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css"
          type="text/css"/>
{% endblock %}

{% block content_block %}

{#    <section class="main__middle__container section-container-backgorund-color">#}

        <section class="contact-us  section-row-backgorund-image">
        <div class="row title__block  section-row-backgorund-image" style="padding: 0px 0 0px 0;">
            <div class="container text-center section-container-backgorund-color">
                <h2 class="page__title"><span>{% trans 'apply' %}</span></h2>
                <span class="sep"></span>
                <p class="smaller">
                    {% trans 'learn_chess_with_vugar_gashimov_chess_academy' %}
                </p>
            </div>
        </div>
            <div class="container section-container-backgorund-color">
                <div class="row">
                    <div class="col-md-8">
                        <h3>{% trans 'apply_as'|title %} </h3>
                        <hr/>
                        <p></p>
                        <br/>
                        <p id="feedback"/>
                        <form role="form" id="contact-form" name="contact-form" method="post" action=""
                              class="contact-form">
                            {% csrf_token %}
                            <div class="form-group col-md-6" style="padding: 0 20px 0 0;">
                                <label class="sr-only" for="exampleInputEmail1">{% trans 'Your Firstname: *' %} </label>
                                {{ apply_form.first_name|add_class:'form-control' }}
                                {% if apply_form.first_name.errors %}
                                    <div class="alert alert-danger" style="padding: 7px 0;">
                                        <button style="margin: 5px 10px;" type="button" class="close"
                                                data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                        <strong>{{ apply_form.first_name.errors }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="sr-only" for="exampleInputEmail1">{% trans 'Your Lastname: *' %} </label>
                                {{ apply_form.last_name|add_class:'form-control' }}
                                {% if apply_form.last_name.errors %}
                                    <div class="alert alert-danger" style="padding: 7px 0;">
                                        <button style="margin: 5px 10px;" type="button" class="close"
                                                data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                        <strong>{{ apply_form.last_name.errors }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label class="sr-only" for="exampleInputEmail1">{% trans 'Phone: *' %}</label>
                                {{ apply_form.phone|add_class:'form-control' }}
                                {% if apply_form.phone.errors %}
                                    <div class="alert alert-danger" style="padding: 7px 0;">
                                        <button style="margin: 5px 10px;" type="button" class="close"
                                                data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                        <strong>{{ apply_form.phone.errors }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="sr-only" for="exampleInputEmail1">{% trans 'Birth Date: *' %}</label>
                                <div class="input-group date" data-provide="datepicker">
                                    {{ apply_form.birth_date|add_class:'form-control' }}
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                {% if apply_form.birth_date.errors %}
                                    <div class="alert alert-danger" style="padding: 7px 0;">
                                        <button style="margin: 5px 10px;" type="button" class="close"
                                                data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                        <strong>{{ apply_form.birth_date.errors }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                {{ apply_form.message|add_class:'form-control'|attr:'rows:5' }}
                                {% if apply_form.message.errors %}
                                    <div class="alert alert-danger" style="padding: 7px 0;">
                                        <button style="margin: 5px 10px;" type="button" class="close"
                                                data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                        <strong>{{ apply_form.message.errors }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                            <input id="submit-button" type="submit" class="btn btn-lg btn-info"
                                   value="{% trans 'apply' %}"/>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <h3>{% trans 'contact' %} </h3>
                        <hr/>
                        <p class="black-text">
                            Bakı şəhəri, Yasamal rayonu,<br/>
                            Bəsti Bağirova 2<br/>
                            Dövlət Statistika komitəsi ilə üzbəüz <br/>
                        </p>
                        <p class="black-text"><span class="orange">{% trans 'phone'|title %}: </span> +994 (050) 353-10-10
                        </p>
                        <p class="black-text"><span class="orange">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> +994 (070) 353-10-10
                        </p>
                        <p class="black-text"><span class="orange">{% trans 'telephone'|title %}: </span> +994 (012)
                            436-86-10 </p>
                        <div class="social__icons">
                            {% for base_social in base_socials %}
                                <a target="_blank" href="{{ base_social.url }}"
                                   class="{{ base_social.icon_class }}"></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.100738058975!2d49.82407345075594!3d40.384459879267645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d9a3628e64f%3A0xe3f6733413012399!2zVsO8cWFyIEjJmcWfaW1vdiDFnmFobWF0IEFrYWRlbWl5YXPEsQ!5e0!3m2!1sen!2s!4v1507717830657"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </section>
{#    </section>#}

{% endblock %}

{% block footer_block %}
    <script src="{% static 'mainsection/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>

    <script>
        $(document).ready(function () {
            {% if post_message and post_message_code %}
            swal(
                'Uğurlu!',
                '{{ post_message }}',
                '{% if post_message_code == 1 %}success{% elif post_message_code == 0 %}error{% endif %}'
            );
            {% endif %}
        });

        $('#id_birth_date').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            {#    startDate: '-3d'#}
        });
    </script>
{% endblock %}