{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}

{% block head_block %}

    <link href="{% static 'mainsection/shortcodes/shortcodes.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content_block %}

    <section class="main__middle__container">
        <section class="recent-posts section-row-backgorund-image">
            <div class="container section-container-backgorund-color">
                <div class="row no-margin nothing">
                    <h2 class="page__title text-center"><span>{% trans 'blog'|title %} {% if category %} >
                        {{ category.name }}{% endif %}</span></h2>
                    <p class="small-paragraph text-center">
                        {% if category %}{% trans 'blog_description' %}{% endif %}
                    </p>
                    <div class="col-md-9">
                        {% for blog in blogs %}
                            <article>
                                <img src="{{ blog.image.url }}" alt="{{ blog.title }}"
                                     class="pull-left img-responsive"/>
                                <div class="text">
                                    {#                                    <p class="small-paragraph">Lorem ipsum dolor sit </p>#}
                                    <h3>
                                        <a href="{% url 'blog_news' blog.id blog.slug %}">
                                            {{ blog.title }}
                                        </a>
                                    </h3>
                                    <p>
                                        {{ blog.short_text }}
                                    </p>
                                    <h3>
                                        <small>
                                            <a href="{% url 'blog_news' blog.id blog.slug %}">
                                                {% trans 'read_more' %}
                                            </a>
                                        </small>
                                    </h3>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">

                        <table class="dc_table_s10" summary="Sample Table" style="width:100%;margin-bottom: 20px;">
                            <thead>
                            <tr>
                                <th style="text-align: center;" scope="col">{% trans 'categories'|title %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in categories %}
                                <tr style="cursor: pointer;"
                                    onclick="window.location.replace('{% url 'blog_category' category.id %}');">
                                    <td class="{% if forloop.counter|divisibleby:2 %}odd{% endif %}">{{ category.name }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        {% include 'home/include/_last_tourments.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}

{% block footer_block %}


{% endblock %}