{% extends 'main_base.html' %}

{% block head_block %}


{% endblock %}

{% block content_block %}


    <section class="main__middle__container">
        <div class="container">
            <div class="row nothing">
                <section class="col-sm-8 col-md-9 col-xs-12 main-content">
                    <h2>{{ news.title }} </h2>
                    <img src="{{ news.image.url }}" alt="image" class="img-responsive"/> <br/>
                    {% autoescape off %}
                        {{ news.content }}
                    {% endautoescape %}

                    <br/>
                </section>
                <aside class="col-md-3 col-sm-4 col-xs-12">
                    {% include 'home/include/_last_blogs.html' %}
                </aside>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer_block %}


{% endblock %}