{% extends 'main_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block title_block %}
{% endblock %}

{% block head_block %}


{% endblock %}

{% block content_block %}

    <section class="slider">
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                {% for slider_get_image in slider.get_images %}
                    <div class="item {% if forloop.first %} active{% endif %}">
                        <img data-src="{{ slider_get_image.image }}" alt="{{ slider_get_image.title }}"
                             src="{{ slider_get_image.image|thumbnail_url:'index_slider_thumb' }}"/>
                        <div class="container">
                            <div class="carousel-caption">
{#                                <h1 class="">{{ slider_get_image.title }}</h1>#}
{#                                {% if slider_get_image.content %}#}
{#                                    <p>#}
{#                                        {{ slider_get_image.content }}#}
{#                                    </p>#}
{#                                {% endif %}#}
                                {% if slider_get_image.url %}
                                    <p>
                                        <a class="btn btn-default btn-lg" href="{{ slider_get_image.url }}"
                                           role="button">
                                            {% trans 'read more' %}
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if slider.get_images|length > 1 %}
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon carousel-control-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon carousel-control-right"></span>
                </a>
            {% endif %}
        </div>
    </section>
    <!--end of slider section-->
    <section class="main__middle__container homepage">
        <div class="row text-center headings home-about-section-bacground no-margin nothing" style="    background: url({% static 'mainsection/images/bacground-color-1.png' %}) !important;">
            <div class="container" style="    background: #10d31e;">
                <h1 class="page_title">{% trans 'apply_to_academy' %} </h1>
                <p style="color:#fff">
                    {% trans 'learn_chess_with_vugar_gashimov_chess_academy' %}
                </p>
                <p><a class="btn btn-default btn-lg" href="{% url 'apply' %}" role="button">{% trans 'apply' %}</a></p>
            </div>
        </div>

        <div class="row text-center nothing line__bg testimonials section-row-backgorund-image no_padding_c">
            <div class="container section-container-backgorund-color">
                <h3 style="color: #000" class="title-color-white">{% trans 'vugar gashimov'|title %}</h3>
                <p class="small-paragrapher title-color-white">{% trans 'Azerbaijani chess grandmaster' %} </p>
                <img src="https://images.chesscomfiles.com/uploads/images_users/tiny_mce/PeterDoggers/phpiXOJP9.png"
                     class="img-responsive img-rounded"/>
                <p style="color: #000000;padding: 10px 0 30px 0;">
                    Parlaq zəka sahibi , Beynəlxalq Qrossmeyster , Fide 1 Grand - Pri turnirinin qalibi , ümumdünya
                    intellektual oyunların qızıl , gümüş və bürünc mükafatçısı , sürətli şahmat üzrə avropa çempionu ,
                    dünya və avropa çempionatlarının 11 qat qızıl , gümüş və bürünc mükafatçısı , beynəlxalq turnirlərin
                    qalibi Vüqar Həşimov.
                    Yüksək insani keyfiyyətlərə malik ,təmənnasız dahi insan , xeyirxahlıq nümunəsi , bütünlüklə gənc
                    nəsilə örnək Vüqar Həşimov !
                </p>
            </div>
        </div>
        <div class="row no_padding no-margin nothing nice__title text-center ">
            <div class="container">
                <h2>Chess Is a great Influence on the development of the factors necessary for human EDUCATION, not just
                    the sport! </h2>
                <p style="color: white;">Vugar Gashimov</p>
            </div>
        </div>
        <div class="row three__blocks no_padding_c no-margin section-row-backgorund-image">
            <div class="container section-container-backgorund-color"  id="home-blog-sec">
                <h2 class="page__title text-center"><span>{% trans 'blog' %} </span></h2>
{#                <p class="small-paragraph text-center"> </p>#}
                {% for last_blog in last_blogs %}
                    <div class="col-md-4 {% if forloop.counter == 2 %}middle{% endif %}">
                        <a href="{% url 'blog_news' last_blog.id last_blog.slug %}">
                            <img src="{{ last_blog.image|thumbnail_url:'vugar_about_other_thumbs' }}" alt="{{ last_blog.title }}"
                                         class="img-responsive img-rounded"/>
                        </a>
                        <h3>
                            <a href="{% url 'blog_news' last_blog.id last_blog.slug %}">{{ last_blog.title }} </a>
                        </h3>
{#                        <p>{{ last_blog.short_text|slice:'30' }}</p>#}
                        <a class="btn btn-primary btn-md" href="{% url 'blog_news' last_blog.id last_blog.slug %}" role="button">{% trans 'read_more' %}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <section class="recent-posts no_padding_c no-margin section-row-backgorund-image">
            <div class="container section-container-backgorund-color">
                <div class="row no-margin nothing">
                    <h2 class="page__title text-center"><span>{% trans 'tournaments'|title %}</span></h2>
{#                    <p class="small-paragraph text-center">{% trans 'last_tournaments_information' %} </p>#}
                    <div class="col-md-9">
                        {% for tournament in tournaments %}
                            {% if forloop.counter <= 3 %}
                                <article>
                                    <img src="{{ tournament.image|thumbnail_url:'vugar_about_other_thumbs' }}" alt="{{ tournament.title }}"
                                         class="pull-left img-responsive"/>
                                    <div class="text">
                                        <h3>
                                            <a href="{% url 'tournament' tournament.id tournament.slug %}">
                                                {{ tournament.title }}
                                            </a>
                                        </h3>
                                        <p>{{ tournament.short_text|slice:'113' }} </p>
                                        <h3>
                                            <small>
                                                <a href="{% url 'tournament' tournament.id tournament.slug %}">
                                                    {% trans 'read_more' %} >
                                                </a>
                                            </small>
                                        </h3>
                                    </div>
                                    <div class="clearfix"></div>
                                </article>
                            {% endif %}
                            {% if forloop.counter == 4 %}
                                </div>
                                <div class="col-md-3">
                            {% endif %}
                        {% if forloop.counter > 3 and forloop.counter <= 6 %}
                            <div class="icon-item">
                                <img src="{{ tournament.image.url }}" alt="{{ tournament.title }}"/>
                                <h4>
                                    <a href="{% url 'tournament' tournament.id tournament.slug %}">{{ tournament.title }} </a>
                                </h4>
                                <p>{{ tournament.short_text|slice:'77' }} </p>
                            </div>
                        {% endif %}
                        {% if forloop.counter > 3 and forloop.last or forloop.counter == 6 %}
                            </div>
                        {% endif %}
                        {% endfor %}
                </div>
            </div>
        </section>
    </section>

{% endblock %}

{% block footer_block %}


{% endblock %}