{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}

{% block head_block %}

    <link href="{% static 'mainsection/shortcodes/shortcodes.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content_block %}

    <section class="main__middle__container">
        <section class="recent-posts section-row-backgorund-image">
            <div class="container section-container-backgorund-color">
                <div class="row no-margin nothing">
                    <h2 class="page__title text-center"><span>{% trans 'news'|title %}</span></h2>
{#                    <p class="small-paragraph text-center">#}
{#                        {% trans 'tournaments'|title %}#}
{#                    </p>#}
                    <div class="col-md-9">
                        {% for tournament in tournaments %}
                            <article>
                                <img src="{{ tournament.image.url }}" alt="pic1"
                                     class="pull-left img-responsive"/>
                                <div class="text">
                                    {#                                    <p class="small-paragraph">Lorem ipsum dolor sit </p>#}
                                    <h3>
                                        <a href="{% url 'tournament' tournament.id tournament.slug %}">
                                            {{ tournament.title }}
                                        </a>
                                    </h3>
                                    <p>
                                        {{ tournament.short_text }}
                                    </p>
                                    <h3>
                                        <small>
                                            <a href="{% url 'tournament' tournament.id tournament.slug %}">
                                                {% trans 'read_more' %}
                                            </a>
                                        </small>
                                    </h3>
                                </div>
                                <div class="clearfix"></div>
                            </article>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        {% include 'home/include/_last_blogs.html' %}
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}

{% block footer_block %}


{% endblock %}