{% extends 'userprofile_base.html' %}
{% load static %}
{% load i18n %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}
{% block up_main_container %}
    <style>
        .valid {
            border: 1px solid green;
        }

        .invalid {
            border: 1px solid #FF0000 !important;
        }
    </style>
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->

        <!-- END THEME PANEL -->
        <h1 class="page-title"> {% trans 'user_profile' %} | {% trans 'change_password' %}
            {#                <small>user account page</small>#}
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->

                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">{% trans 'profile_account' %}</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab_1_3" data-toggle="tab">{% trans 'change_password' %}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <!-- CHANGE PASSWORD TAB -->
                                        <div class="alert alert-success" id="change-success-text"
                                             style="display: none;">
                                            <strong>Well done!</strong> You successfully read this important alert
                                            message.
                                        </div>
                                        <div class="alert alert-danger" id="change-invalid-text" style="display: none;">
                                            <strong>Well done!</strong> You successfully read this important alert
                                            message.
                                        </div>
                                        <div class="tab-pane active" id="tab_1_3">
                                            <form action="{% url 'changePassword_ajax' %}" id="changePass1Form">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="control-label">{% trans 'current_password' %}</label>
                                                    <input type="password" name="change-current-password"
                                                           id="change-current-password" class="form-control"/></div>
                                                <div class="form-group">
                                                    <label class="control-label">{% trans 'new_password' %}</label>
                                                    <input type="password" name="change-new-password"
                                                           id="change-new-password" class="form-control"/></div>
                                                <div class="form-group">
                                                    <label class="control-label">{% trans 're-type_new_password' %}</label>
                                                    <input type="password" name="change-repeat-password"
                                                           id="change-repeat-password" class="form-control"/></div>
                                                <div class="margin-top-10">
                                                    <a id="changePass1Button" onclick="changePasswordForm()"
                                                       class="btn green"> {% trans 'change_password ' %}</a>
                                                    <a href="javascript:;" class="btn default"> {% trans 'cancel' %} </a>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- END CHANGE PASSWORD TAB -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <script src="{% static 'userprofile/assets/js/changepassword.js' %}"></script>
{% endblock %}