{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}
{% block up_main_container %}
    <style>
        .widget-row_a:hover {
            text-decoration: none;
            background: rgba(245, 245, 220, 0.31);
        }

    </style>
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title"> {{ request.user.first_name }} {{ request.user.last_name }}
            <small>@{{ request.user.username }} </small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <!-- PORTLET MAIN -->
                    <div class="portlet light profile-sidebar-portlet ">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="{% static 'userprofile/assets/global/img/icon-user-default.png' %}"
                                 class="img-responsive" alt=""></div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name"> {{ request.user.first_name }} {{ request.user.last_name }} </div>
                            <div class="profile-usertitle-job"> @{{ request.user.username|lower }}  </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        {#                                        <div class="profile-userbuttons">#}
                        {#                                            <button type="button" class="btn btn-circle green btn-sm">Follow</button>#}
                        {#                                            <button type="button" class="btn btn-circle red btn-sm">Message</button>#}
                        {#                                        </div>#}
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li>
                                    <a href="{% url 'profile' %}">
                                        <i class="icon-home"></i> {% trans 'profile' %} </a>
                                </li>
                                {% if student %}
                                    <li>
                                        <a href="{% url 'profile_student' %}">
                                            <i class="fa fa-trophy"></i> {% trans 'degrees' %} </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'student_feedback' %}">
                                            <i class="fa fa-user"></i> {% trans 'write_feedback' %} </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'my_group' %}">
                                            <i class="fa fa-user"></i> {% trans 'my_group' %} </a>
                                    </li>
                                {% endif %}
                                {% if teacher %}
                                    <li>
                                        <a href="{% url 'journals' %}">
                                            <i class="icon-home"></i> {% trans 'journals' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {#                                                <li class="active">#}
                                {#                                                    <a href="{% url 'books' %}">#}
                                {#                                                        <i class="icon-info"></i> {% trans 'Books' %} </a>#}
                                {#                                                </li>#}
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content" style="background: #FFFFFF;padding: 10px;">
                    {% if teacher %}
                        <!-- END PAGE HEADER-->

                        <div class="row widget-row">
                            {#                       <div class="col-md-4">{{ teacher}}</div>#}
                            {% if teacher.get_groups %}

                                {% for teacher_get_group in teacher.get_groups %}
                                    <div class="col-md-4">
                                        <!-- BEGIN WIDGET THUMB -->
                                        <a class="widget-row_a" href="{% url 'group_page' teacher_get_group.id %}">
                                            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 "
                                                 style="background: beige;border: 1px solid #32c5d2;">
                                                <h4 class="widget-thumb-heading">{{ teacher_get_group.name }}</h4>
                                                <div class="widget-thumb-wrap">
                                                    <i class="widget-thumb-icon bg-green fa fa-users"></i>
                                                    <div class="widget-thumb-body">
                                                        <span class="widget-thumb-subtitle">{% trans 'students_count' %}</span>
                                                        <span class="widget-thumb-body-stat" data-counter="counterup"
                                                              data-value="{{ teacher_get_group.students.count }}">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- END WIDGET THUMB -->
                                    </div>

                                {% endfor %}
                            {% else %}

                            {% endif %}
                        </div>
                    {% elif student %}
                        <div class="row">
                            <div class="profile">
                                <div class="tabbable-line tabbable-full-width">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1_1">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-12 tabbable-line tabbable-custom-profile">
                                                        <ul class="nav nav-tabs">
                                                            <li class="active">
                                                                <a href="#tab_1_11" data-toggle="tab">
                                                                    {% trans 'payment_table' %}
                                                                </a>

                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane active"
                                                                 style="border: 2px solid rgb(23, 196, 187);"
                                                                 id="tab_1_11">
                                                                {#                                                            <input type="button" onclick="tableToExcel('testTable', 'W3C Example Table')" value="">#}
                                                                <div class="portlet-body" id="price-div">
                                                                    <table id="testTable"
                                                                           class="table table-striped table-bordered table-advance table-hover">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>
                                                                                <i class="fa fa-user"></i> {% trans 'student_name' %}
                                                                            </th>
                                                                            <th class="hidden-xs">
                                                                                <i class="fa fa-calendar"></i>
                                                                                {% trans 'paid_date' %}
                                                                            </th>
                                                                            <th>
                                                                                <i class="fa fa-money"></i> {% trans 'amount' %}
                                                                            </th>
                                                                            <th><i class="fa fa-question"></i></th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% if student.get_paid_moneys %}
                                                                            {% for student_get_paid_money in student.get_paid_moneys %}
                                                                                <tr>
                                                                                    <td class="hidden-xs">
                                                                                        {{ student_get_paid_money.student.user.first_name }} {{ student_get_paid_money.student.user.last_name }}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{ student_get_paid_money.paid_date|date:'d F Y H:m' }}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{ student_get_paid_money.money }}
                                                                                    </td>
                                                                                    <td>
                                                                                    <span class="label label-{% if student_get_paid_money.paid %}success {% else %}danger {% endif %}label-sm">
                                                                                    {% if student_get_paid_money.paid %}
                                                                                        {% trans 'paid' %}{% else %}
                                                                                        {% trans 'not_paid' %}{% endif %}
                                                                                    </span>
                                                                                    </td>

                                                                                </tr>
                                                                            {% endfor %}
                                                                        {% else %}
                                                                            <tr></tr>
                                                                        {% endif %}
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                            <!--tab-pane-->
                                                            <!--tab-pane-->
                                                            <p>
                                                                <a class="btn btn-info"
                                                                   onclick="printDiv()">{% trans 'print' %}</a>
                                                                <a class="btn btn-success"
                                                                   onclick="tableToExcel('testTable', 'W3C Example Table')">{% trans 'export_to_excel' %}</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
{% endblock %}
{% block js_container %}
    <script type="text/javascript">
        function printDiv() {
            var originalContents = $("body").html();
            var printContents = $("#price-div").html();
            $("body").html(printContents);
            window.print();
            $("body").html(originalContents);
            return false;
        }
    </script>
    <script type="text/javascript">
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
                    , base64 = function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            }
                    , format = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) {
                    return c[p];
                })
            };
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
    </script>
{% endblock %}