{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}
{% block up_main_container %}
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title"> {{ request.user.first_name }} {{ request.user.last_name }}
            <small>@{{ request.user.username }} </small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <!-- PORTLET MAIN -->
                    <div class="portlet light profile-sidebar-portlet " style="padding: 0 !important;">
                        <div class="span3 well" style="background: #FFFFFF">
                            <center style="margin-top: 30px;">
                                <a style="color: #000000" href="#journal-Modal-{{ forloop.counter }}"
                                   data-toggle="modal">
                                    <i style="font-size: 50px;" class="fa fa-book" aria-hidden="true"></i>
                                    {#                                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle">#}
                                </a>
                                <h3 style="margin-top: 10px;">{{ group.name }}</h3>
                                {#                                        <p>{{ journal.date|date:'d F Y' }}<br></p>#}
                            </center>
                            <center>

                                <div class="profile-usermenu" style="margin-top: 10px;padding-bottom: 10px;">
                                    <ul class="nav">
                                    {% if group.get_journal %}
                                        {% for journal_page in group.get_journal.get_pages %}
                                            <li>
                                                <a href="{% url 'journal_page' group.get_journal.id journal_page.ord %}">
                                                    <i class="fa fa-newspaper-o"></i> {% trans 'page' %} {{ journal_page.ord }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        <li>
                                            <a href="{% url 'admin:content_journal_change' group.get_journal.id %}#/tab/inline_0/"
                                               target="_blank">
                                                <i class="fa fa-plus"></i> {% trans 'create_new_page' %}</a>
                                        </li>
                            {% else %}

                                        <li>
                                            <a href="{% url 'admin:content_journal_changelist' %}#/tab/inline_0/"
                                               target="_blank">
                                                <i class="fa fa-plus"></i> {% trans 'create_journal' %}</a>
                                        </li>
                                    {% endif %}
                                        {#                                                <li class="active">#}
                                        {#                                                    <a href="{% url 'books' %}">#}
                                        {#                                                        <i class="icon-info"></i> {% trans 'Books' %} </a>#}
                                        {#                                                </li>#}
                                    </ul>
                                </div>
                                <!-- END MENU -->
                            </center>

                        </div>
                        <!-- END MENU -->
                    </div>

                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-users"></i>{{ group.name }}
                            </div>
                            <div class="tools"></div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_2">
                                <thead>
                                <tr>
                                    <th> {% trans 'name' %}</th>
                                    <th> {% trans 'phone' %}</th>
                                    <th> {% trans 'email' %}</th>
                                    <th> {% trans 'brith_date' %}</th>
                                    <th> {% trans 'times_code' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for group_student in group.students.all %}
                                    <tr>
                                        <td> <a href="{% url 'student_view' group_student.user.username %}">{{ group_student.user.first_name }} {{ group_student.user.last_name }}</a></td>
                                        <td> {{ group_student.phone }}</td>
                                        <td> {{ group_student.email }}</td>
                                        <td> {{ group_student.birth_date|date:'d F Y' }}</td>
                                        <td> {{ group_student.times_code }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <script src="{% static 'userprofile/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'userprofile/assets/pages/scripts/table-datatables-rowreorder.min.js' %}"
            type="text/javascript"></script>

{% endblock %}