{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">
{% endblock %}
{% block css_container %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/clockface/css/clockface.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
{% endblock %}
{% block up_main_container %}
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title"> {{ request.user.first_name }} {{ request.user.last_name }}
            <small>@{{ request.user.username }} </small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i><strong>{{ journal.group.name }}</strong> {% trans "group_journal" %}
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            {#                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>#}
                            {#                            <a href="javascript:;" class="reload"> </a>#}
                            {#                            <a href="javascript:;" class="remove"> </a>#}
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <form action="{% url 'journal_ajax' journal.id journal_page.ord %}" onsubmit="return false;"
                              method="post"
                              id="journal_form">
                            {% csrf_token %}
                            <input type="hidden" name="journal_page" value="{{ journal_page.ord }}"/>
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                <tr>
                                    <th class="numeric"> {% trans 'student' %}</th>
                                    {% for journal_page_date in journal_page_dates|slice:'12' %}
                                        <th class="numeric">
                                            <div class="form-group">
                                                <div class="">
                                                    <input name="date_{{ journal_page_date.day }}" readonly
                                                           class="form-control form-control-inline date-picker" size="1"
                                                           type="text"
                                                           value="{{ journal_page_date.date|date:'m/d/Y' }}"/>
                                                </div>
                                            </div>
                                        </th>
                                    {% endfor %}


                                </tr>
                                </thead>
                                <tbody>
                                {% for journal_group_student in journal.group.students.all %}
                                    <tr>
                                        <td> {{ journal_group_student.user.first_name }} {{ journal_group_student.user.last_name }}
                                            - {{ journal_group_student.user.id }}
                                            - {{ journal_group_student.user.username }}</td>
                                        <input type="hidden" name="student_id"
                                               value="{{ journal_group_student.user.id }}">
                                        {% for lesson_day in lesson_range %}
                                            <td style="text-align: center;">
                                                <input id="checkbox_{{ journal_group_student.id }}_{{ lesson_day }}"
                                                       onchange="checkTF({{ journal_group_student.id }} ,{{ lesson_day }})"
                                                       type="checkbox"
                                                        {% for student_participant in journal_group_student.get_participants %}
                                                            {% if student_participant.journalpage == journal_page and student_participant.day == lesson_day %}
                                                                {% if student_participant.is_here %} checked {% endif %}
                                                            {% endif %} {% endfor %}
                                                />
                                                <input type="hidden"
                                                       id="h_checkbox_{{ journal_group_student.id }}_{{ lesson_day }}"
                                                        {% for student_participant in journal_group_student.get_participants %}
                                                            {% if student_participant.journalpage == journal_page and student_participant.day == lesson_day %}
                                                       value="{% if student_participant.is_here %}1{% else %}0{% endif %}"
                                                            {% endif %} {% endfor %}
                                                       name="checkbox_day_{{ lesson_day }}"/>
                                            </td>
                                        {% endfor %}


                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                            <div class="alert alert-success" id="journal_form-success-text"
                                 style="text-align: center;display: none;">
                                <strong>Success!</strong>
                            </div>
                            <div class="alert alert-danger" id="journal_form-invalid-text           "
                                 style="text-align: center;display: none;">
                                <strong>Oh NO!</strong>
                            </div>
                            <a onclick="journalForm()" id="journal_form_button"
                               class="btn blue">{% trans 'save_changes' %}</a>
                            <a onclick="" id=""
                               class="btn blue">{% trans 'write_text' %}</a>

                        </form>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>

    <script src="{% static 'userprofile/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>


{% endblock %}

{% block js_container %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'userprofile/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'userprofile/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'userprofile/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'userprofile/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'userprofile/assets/global/plugins/clockface/js/clockface.js' %}"
            type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="{% static 'userprofile/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'userprofile/assets/pages/scripts/components-date-time-pickers.min.js' %}"
            type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script>
        {#        if ($('input[type="checkbox"]').is('checked')){#}
        {#            $(this).val(1);#}
        {#        }else {#}
        {#            $(this).val(0);#}
        {#        }#}
        {#        var s = {{ journal.group.students.count }};#}
        {#        var d = 12;#}
        {#        for (i = 0; i < s; i++) {#}
        {#            for (j = 0; j < d; j++) {#}
        {#                var checkbox = $('#checkbox_' + j+'_' + i);#}
        {#                var h_checkbox = $('#h_checkbox_' + j + '_' + i);#}
        {#                alert(h_checkbox.attr('name'));#}
        {#                if (checkbox.is('checked')){#}
        {#                    h_checkbox.val(1);#}
        {#                    alert('nese');#}
        {#                }else{#}
        {#                    alert('bla')#}
        {#                }#}
        {#            }#}
        {#        }#}
        function checkTF(student_id, day) {
            var checkbox = $('#checkbox_' + student_id + '_' + day);
            var h_checkbox = $('#h_checkbox_' + student_id + '_' + day)
            {#            alert('nese');#}
            if (!checkbox.is(':checked')) {//yeniden yoxla
                h_checkbox.val(0);
                {#                alert(h_checkbox.val());#}
            }
            else {
                h_checkbox.val(1);
                {#                alert(checkbox.val());#}
            }
        }
        ////////////////////////////////////////////////////////
        function journalForm() {
            //{#    var csrftoken = getCookie('csrftoken');#}
            var journal_form = $('#journal_form');
            var journal_form_button = $('#journal_form_button');
            var journal_form_success_text = $('#journal_form-success-text');
            var journal_form_invalid_text = $('#journal_form-invalid-text');
            {#            alert(journal_form.serialize());#}
            {#         if (password_tester(change_new_email) && password_tester(change_repeat_email) && (change_new_email == change_repeat_email)) {#}
            var url = journal_form.attr('action');
//This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post
            journal_form_button.hide();
            {#             alert(journal_form.serialize());#}
            $.ajax({
                url: url, // the endpoint,commonly same url
                dataType: "json",
                type: "POST",
                data: journal_form.serialize(),
                success: function (json) {
                    //alert('success');
                    //$('#loader-div').hide();
                    if (json['message_code'] == 1) {
                        journal_form_success_text.show();
                        setTimeout(function () {
                            journal_form_success_text.fadeOut();
                            journal_form_button.show(1000);
                        }, 4000);
                        journal_form_success_text.text(json['message']);
                    } else {
                        journal_form_invalid_text.show();
                        setTimeout(function () {
                            journal_form_invalid_text.fadeOut();
                            journal_form_button.show(1000);
                        }, 4000);
                        journal_form_invalid_text.text(json['message']);
                    }

                    //$('#newsletterForm input').removeClass("valid");
                },
                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    journal_form_invalid_text.show();
                    setTimeout(function () {
                        journal_form_invalid_text.fadeOut();
                        journal_form_button.show(1000);
                    }, 4000);
                    journal_form_invalid_text.text('Xəta Baş Verdi Xaiş Edirik,Səhifəni Yeniləyib Təkrar Cəhd edin');
                }
            });

            {#         }#}
        }

    </script>
{% endblock %}