{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}
{% block up_main_container %}
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title"> {{ request.user.first_name }} {{ request.user.last_name }}
            <small>@{{ request.user.username }} </small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12">
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bubble font-dark hide"></i>
                                        <span class="caption-subject font-hide bold uppercase">{% trans 'search' %} : {{ search }}</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        {% if datas %}
                                            {% for data in datas %}
                                                <div class="col-md-4">
                                                    <!--begin: widget 1-1 -->
                                                    <div class="mt-widget-1">
                                                        <a href="{% url 'student_view' data.user.username %}">
                                                        <div class="mt-img">
                                                            <img height="100" src="{% static 'userprofile/assets/global/img/icon-user-default.png' %}">
                                                        </div></a>
                                                        <div class="mt-body">
                                                            <h3 class="mt-username">{{ data.user.first_name }} {{ data.user.last_name }}</h3>
                                                            <p class="mt-user-title"> {{ data.birth_date|date:'d F Y' }}</p>
                                                            <div class="mt-stats">
                                                                <div class="btn-group btn-group btn-group-justified">
                                                                    <a href="{% url 'student_view' data.user.username %}" class="btn font-red">
                                                                        <i class="fa fa-user"></i>{% trans 'show_profile' %}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end: widget 1-1 -->
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                                <div class="col-md-12">
                                                    <!--begin: widget 1-1 -->
                                                    <div class="mt-widget-1">
                                                        <div class="mt-body">
                                                            <h3 class="mt-username">{% trans 'not_found_student_for_search' %}</h3>
                                                        </div>
                                                    </div>
                                                    <!--end: widget 1-1 -->
                                                </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
{% endblock %}