{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}
{% block up_main_container %}
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title"> {{ request.user.first_name }} {{ request.user.last_name }}
            <small>@{{ request.user.username }} </small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <!-- PORTLET MAIN -->
                    <div class="portlet light profile-sidebar-portlet ">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="{% static 'userprofile/assets/global/img/icon-user-default.png' %}"
                                 class="img-responsive" alt=""></div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name"> {{ student.user.first_name }} {{ student.user.last_name }} </div>
                            <div class="profile-usertitle-job"> @{{ student.user.username|lower }}  </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        {#                                        <div class="profile-userbuttons">#}
                        {#                                            <button type="button" class="btn btn-circle green btn-sm">Follow</button>#}
                        {#                                            <button type="button" class="btn btn-circle red btn-sm">Message</button>#}
                        {#                                        </div>#}
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
{#                        <div class="profile-usermenu">#}
{#                            <ul class="nav">#}
{#                                <li>#}
{#                                    <a href="{% url 'profile' %}">#}
{#                                        <i class="icon-home"></i> {% trans 'Profile' %} </a>#}
{#                                </li>#}
{#                                {% if base_type == 'teacher' %}#}
{#                                    <li>#}
{#                                        <a href="{% url 'journals' %}">#}
{#                                            <i class="icon-home"></i> {% trans 'journals' %}#}
{#                                        </a>#}
{#                                    </li>#}
{#                                {% endif %}#}
{#                                {% if base_type == 'student' %}#}
{#                                    <li>#}
{#                                        <a href="{% url 'profile_student' %}">#}
{#                                            <i class="icon-home"></i> {% trans 'degrees' %} </a>#}
{#                                    </li>#}
{#                                {% endif %}#}
{#                            </ul>#}
{#                        </div>#}
                        <!-- END MENU -->
                    </div>
                    <!-- END PORTLET MAIN -->
                    {#                                    <!-- PORTLET MAIN -->#}
                    {#                                    <div class="portlet light ">#}
                    {#                                        <!-- STAT -->#}
                    {#                                        <div class="row list-separated profile-stat">#}
                    {#                                            <div class="col-md-4 col-sm-4 col-xs-6">#}
                    {#                                                <div class="uppercase profile-stat-title"> 37 </div>#}
                    {#                                                <div class="uppercase profile-stat-text"> Projects </div>#}
                    {#                                            </div>#}
                    {#                                            <div class="col-md-4 col-sm-4 col-xs-6">#}
                    {#                                                <div class="uppercase profile-stat-title"> 51 </div>#}
                    {#                                                <div class="uppercase profile-stat-text"> Tasks </div>#}
                    {#                                            </div>#}
                    {#                                            <div class="col-md-4 col-sm-4 col-xs-6">#}
                    {#                                                <div class="uppercase profile-stat-title"> 61 </div>#}
                    {#                                                <div class="uppercase profile-stat-text"> Uploads </div>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                        <!-- END STAT -->#}
                    {#                                        <div>#}
                    {#                                            <h4 class="profile-desc-title">About Marcus Doe</h4>#}
                    {#                                            <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>#}
                    {#                                            <div class="margin-top-20 profile-desc-link">#}
                    {#                                                <i class="fa fa-globe"></i>#}
                    {#                                                <a href="http://www.keenthemes.com">www.keenthemes.com</a>#}
                    {#                                            </div>#}
                    {#                                            <div class="margin-top-20 profile-desc-link">#}
                    {#                                                <i class="fa fa-twitter"></i>#}
                    {#                                                <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>#}
                    {#                                            </div>#}
                    {#                                            <div class="margin-top-20 profile-desc-link">#}
                    {#                                                <i class="fa fa-facebook"></i>#}
                    {#                                                <a href="http://www.facebook.com/keenthemes/">keenthemes</a>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                    <!-- END PORTLET MAIN -->#}
                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
{#                <div class="profile-content">#}
{#                    <div class="row">#}
{#                        {% for student_get_degree in student.get_degrees %}#}
{#                            <div class="col-md-6">#}
{#                                <div class="span3 well" style="background: #FFFFFF">#}
{#                                    <center>#}
{#                                        <a href="#degree-Modal-{{ forloop.counter }}" data-toggle="modal"><img#}
{#                                                src="{% static 'userprofile/assets/images/Puzzle1.jpg' %}"#}
{#                                                name="aboutme" width="140" height="140" class="img-circle"></a>#}
{#                                        <h3>{{ student_get_degree.competition }}</h3>#}
{#                                        <em>{{ student_get_degree.degree }}</em>#}
{#                                        <p>{{ student_get_degree.date|date:'d F Y' }}<br></p>#}
{#                                    </center>#}
                                    {#                                    <div class="modal hide" id="degree-Modal-{{ forloop.counter }}">#}
                                    {#                                        <div class="modal-header">#}
                                    {#                                            <button type="button" class="close" data-dismiss="modal">✕</button>#}
                                    {#                                            <h3>{% trans 'Details' %}</h3>#}
                                    {#                                        </div>#}
                                    {#                                        <div class="modal-body" style="text-align:center;">#}
                                    {#                                            <div class="row-fluid">#}
                                    {#                                                <div class="span10 offset1">#}
                                    {#                                                    <div id="modalTab">#}
                                    {#                                                        <div class="tab-content">#}
                                    {#                                                            <div class="tab-pane active" id="about">#}
                                    {#                                                                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"#}
                                    {#                                                                     name="aboutme" width="140" height="140" border="0"#}
                                    {#                                                                     class="img-circle"></a>#}
                                    {#                                                                <h3 class="media-heading">Joe Sixpack#}
                                    {#                                                                    <small> USA</small>#}
                                    {#                                                                </h3>#}
                                    {#                                                                </center>#}
                                    {#                                                                <hr>#}
                                    {#                                                                <center>#}
                                    {#                                                                    <p class="text-left"><strong>{% trans 'Bio' %}: </strong><br>#}
                                    {#                                                                        {{ student_get_degree.description }}</p>#}
                                    {#                                                                    <br>#}
                                    {#                                                                </center>#}
                                    {#                                                            </div>#}
                                    {#                                                        </div>#}
                                    {#                                                    </div>#}
                                    {#                                                </div>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
                <!-- END PROFILE CONTENT -->
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-users"></i> {{ student.user.first_name }} {{ student.user.last_name }} - @{{ student.user.username }}
                            </div>
                            <div class="tools"></div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_2">
                                <thead>
                                <tr>
                                    <th> {% trans 'name' %}</th>
                                    <th> {% trans 'phone' %}</th>
                                    <th> {% trans 'email' %}</th>
                                    <th> {% trans 'brith_date' %}</th>
                                    <th> {% trans 'times_code' %}</th>
                                </tr>
                                </thead>
                                <tbody>
{#                                {% for group_student in group.students.all %}#}
                                    <tr>
                                        <td> {{ student.user.first_name }} {{ student.user.last_name }}</td>
                                        <td> {{ student.phone }}</td>
                                        <td> {{ student.email }}</td>
                                        <td> {{ student.birth_date|date:'d F Y' }}</td>
                                        <td> {{ student.times_code }}</td>
{#                                    </tr>#}
{#                                {% endfor %}#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
{% endblock %}