{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load widget_tweaks %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">


    <link id="bs-css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link id="bsdp-css" href="{% static 'datetime/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
    <link id="bsdp-css" href="{% static 'datetime/css/bootstrap-datepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block up_main_container %}
    <style>
        .invalid {
            border: 1px solid red;
        }

        .errorlist {
            list-style-type: none;
        }
    </style>
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->

        <!-- END THEME PANEL -->
        {#        <h1 class="page-title"> New News | News#}
        {#            <small>Create News Page</small>#}
        {#        </h1>#}
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">

                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">{% trans 'paid_money' %}</span>
                                    </div>
                                    {#                                    <ul class="nav nav-tabs">#}
                                    {#                                        <li class="active">#}
                                    {#                                            <a href="#tab_1_1" data-toggle="tab">News Details</a>#}
                                    {#                                        </li>#}
                                    {#                                    </ul>#}
                                </div>
                                <div id="change-profile-error"
                                     style="text-align: center; padding: 10px; border: 1px solid #ff0000; border-radius: 5px !important; background: antiquewhite; display: none;">
                                    test
                                </div>
                                <div id="change-profile-success"
                                     style="text-align: center; padding: 10px; border: 1px solid darkgreen; border-radius: 5px !important; background: rgba(0, 100, 0, 0.25); display: none;">
                                    test
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <!-- PERSONAL INFO TAB -->
                                        <div class="tab-pane active" id="tab_1_1">
                                            <form role="form"
                                                  action="{% if next_url %}?next_url={{ next_url }}{% endif %}"
                                                  method="post" id="changeprofile_form" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="form-group {% if form.competition.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'competition' %}</label>
                                                    {{ form.competition|add_class:"form-control" }}
                                                    {% if form.competition.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button"
                                                                    class="close" data-dismiss="alert"
                                                                    aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.competition.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group {% if form.degree.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'degree' %}</label>
                                                    {{ form.degree|add_class:"form-control" }}
                                                    {% if form.degree.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button"
                                                                    class="close" data-dismiss="alert"
                                                                    aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.degree.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'description' %}</label>
                                                    {{ form.description|add_class:"form-control" }}
                                                    {% if form.description.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button"
                                                                    class="close" data-dismiss="alert"
                                                                    aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.description.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group" id="sandbox-container">

                                                    <label class="control-label">{% trans 'date' %}</label>
                                                    <div class="input-group date">
                                                        {{ form.date|add_class:"form-control" }}<span
                                                            class="input-group-addon"><i
                                                            class="glyphicon glyphicon-th"></i></span>
                                                    </div>
                                                    {% if form.date.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button"
                                                                    class="close" data-dismiss="alert"
                                                                    aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.date.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                {#                                                <div class="form-group">#}
                                                {#                                                    <div class="g-recaptcha"#}
                                                {#                                                         data-sitekey="6Lf9vw0UAAAAAOwYYpIO2z5iV8izeYYa0Ieeu5cF"></div>#}
                                                {#                                                </div>#}
                                                <div class="form-group">
                                                    <input class="btn btn-success" type="submit"
                                                           value="{% trans 'submit' %}"/>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- END PERSONAL INFO TAB -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    {#    <script src="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>#}
    <script src="{% static 'datetime/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'datetime/locales/bootstrap-datepicker.az.min.js' %}"
            charset="UTF-8"></script>
    <script src="{% static 'datetime/locales/bootstrap-datepicker.ru.min.js' %}"
            charset="UTF-8"></script>
    <script src="{% static 'datetime/locales/bootstrap-datepicker.tr.min.js' %}"
            charset="UTF-8"></script>
    <script>
        {#        $(".date-picker").datepicker({#}
        {#            format: 'yyyy-mm-dd'#}
        {#        });#}
        {#        $('#id_paid').change()#}
        $('.input-group.date').datepicker({
            format: "yyyy-mm-dd"
        });
    </script>
{% endblock %}