{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load widget_tweaks %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">

    {#    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}"#}
    {#          rel="stylesheet" type="text/css"/>#}
    {#    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"#}
    {#          rel="stylesheet" type="text/css"/>#}
    {#    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}"#}
    {#          rel="stylesheet" type="text/css"/>#}
    {#    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"#}
    {#          rel="stylesheet" type="text/css"/>#}
    {#    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"#}
    {#          rel="stylesheet">#}
        <link id="bs-css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link id="bsdp-css" href="{% static 'datetime/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
        <link id="bsdp-css" href="{% static 'datetime/css/bootstrap-datepicker.css' %}" rel="stylesheet">
{#    <link id="bsdp-css" href="{% static 'datetime/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">#}
{#    <link id="bsdp-css" href="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">#}
{% endblock %}
{% block up_main_container %}
    <style>
        .invalid {
            border: 1px solid red;
        }

        .errorlist {
            list-style-type: none;
        }
    </style>
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->

        <!-- END THEME PANEL -->
        {#        <h1 class="page-title"> New News | News#}
        {#            <small>Create News Page</small>#}
        {#        </h1>#}
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">

                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">{% trans 'paid_money' %}</span>
                                    </div>
                                    {#                                    <ul class="nav nav-tabs">#}
                                    {#                                        <li class="active">#}
                                    {#                                            <a href="#tab_1_1" data-toggle="tab">News Details</a>#}
                                    {#                                        </li>#}
                                    {#                                    </ul>#}
                                </div>
                                <div id="change-profile-error"
                                     style="text-align: center; padding: 10px; border: 1px solid #ff0000; border-radius: 5px !important; background: antiquewhite; display: none;">
                                    {#                                    test#}
                                </div>
                                <div id="change-profile-success"
                                     style="text-align: center; padding: 10px; border: 1px solid darkgreen; border-radius: 5px !important; background: rgba(0, 100, 0, 0.25); display: none;">
                                    test
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <!-- PERSONAL INFO TAB -->
                                        <div class="tab-pane active" id="tab_1_1">
                                            <form role="form"
                                                  action="{% if next_url %}?next_url={{ next_url }}{% endif %}"
                                                  method="post" id="changeprofile_form" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="form-group {% if form.money.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'money' %}</label>
                                                    {{ form.money|add_class:"form-control" }}
                                                    {% if form.money.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button"
                                                                    class="close" data-dismiss="alert"
                                                                    aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.money.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group" id="sandbox-container">
                                                    <label class="control-label">{% trans 'paid_date' %}</label>
                                                    <div class="input-group date">
                                                        {{ form.paid_date|add_class:"form-control" }}<span
                                                            class="input-group-addon"><i
                                                            class="glyphicon glyphicon-th"></i></span>
                                                    </div>
                                                    {% if form.paid_date.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button"
                                                                    class="close" data-dismiss="alert"
                                                                    aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.paid_date.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
{#                                                <div class="form-group date">#}
{#                                                    <label class="control-label {% if form.paid_date.errors %}has-error{% endif %}">{% trans 'paid_date' %}</label>#}
{#                                                    <div class="col-md-12">#}
{#                                                        {{ form.paid_date|add_class:"form-control" }}#}
{#                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>#}
{#                                                    </div>#}
{#                                                    {% if form.paid_date.errors %}#}
{#                                                        <div class="alert alert-danger" style="padding: 7px 0;">#}
{#                                                            <button style="margin: 5px 10px;" type="button"#}
{#                                                                    class="close" data-dismiss="alert"#}
{#                                                                    aria-hidden="true">#}
{#                                                                ×#}
{#                                                            </button>#}
{#                                                            <strong>{{ form.paid_date.errors }}</strong>#}
{#                                                        </div>#}
{#                                                    {% endif %}#}
{#                                                </div>#}
                                                {#                                                <div class="input-group date form_datetime {% if form.paid_date.errors %}has-error{% endif %}">#}
                                                {#                                                    <label class="control-label">{% trans 'paid_date' %}</label>#}
                                                {#                                                    {{ form.paid_date|add_class:"form-control" }}#}
                                                {#                                                    <span class="input-group-btn">#}
                                                {#                                                            <button class="btn default date-reset" type="button">#}
                                                {#                                                                <i class="fa fa-times"></i>#}
                                                {#                                                            </button>#}
                                                {#                                                            <button class="btn default date-set" type="button">#}
                                                {#                                                                <i class="fa fa-calendar"></i>#}
                                                {#                                                            </button>#}
                                                {#                                                        </span>#}
                                                {#                                                    {% if form.paid_date.errors %}#}
                                                {#                                                        <div class="alert alert-danger" style="padding: 7px 0;">#}
                                                {#                                                            <button style="margin: 5px 10px;" type="button"#}
                                                {#                                                                    class="close" data-dismiss="alert"#}
                                                {#                                                                    aria-hidden="true">#}
                                                {#                                                                ×#}
                                                {#                                                            </button>#}
                                                {#                                                            <strong>{{ form.paid_date.errors }}</strong>#}
                                                {#                                                        </div>#}
                                                {#                                                    {% endif %}#}
                                                {#                                                </div>#}
                                                <input type="hidden" name="paid_money_hidden" id="paid_money_hidden"
                                                       value="

                                                               {% if paid_money %}{% if paid_money.paid %}1{% else %}0{% endif %}{% else %}0{% endif %}">
                                                <div style="text-align: left;"
                                                     class="form-group {% if form.paid.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'pay' %}</label>
                                                    {{ form.paid|add_class:"form-control" }}
                                                </div>
{#                                                <div class="form-group" id="sandbox-container">#}
{#                                                    <div class="input-group date">#}
{#                                                        <input type="text" class="form-control"><span#}
{#                                                            class="input-group-addon"><i#}
{#                                                            class="glyphicon glyphicon-th"></i></span>#}
{#                                                    </div>#}
{#                                                </div>#}

                                                {#                                                <div class="form-group">#}
                                                {#                                                    <div class="g-recaptcha"#}
                                                {#                                                         data-sitekey="6Lf9vw0UAAAAAOwYYpIO2z5iV8izeYYa0Ieeu5cF"></div>#}
                                                {#                                                </div>#}
                                                <div class="form-group">
                                                    <input class="btn btn-success" type="submit"
                                                           value="{% trans 'submit' %}"/>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- END PERSONAL INFO TAB -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{#    <script src="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>#}
    <script src="{% static 'datetime/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'datetime/locales/bootstrap-datepicker.az.min.js' %}"
            charset="UTF-8"></script>
    <script src="{% static 'datetime/locales/bootstrap-datepicker.ru.min.js' %}"
            charset="UTF-8"></script>
    <script src="{% static 'datetime/locales/bootstrap-datepicker.tr.min.js' %}"
            charset="UTF-8"></script>
    <script>
        {#        $(".date-picker").datepicker({#}
        {#            format: 'yyyy-mm-dd'#}
        {#        });#}
        {#        $('#id_paid').change()#}
$('.input-group.date').datepicker({
    format: "yyyy-mm-dd"
});
        $("#id_paid").change(function () {
            if ($(this).prop("checked") == true) {
                $('#paid_money_hidden').val(1)
            } else {
                $('#paid_money_hidden').val(0)
            }
            {#            alert("Handler for .change() called.");#}
        });
    </script>
{% endblock %}