{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}
{% block up_main_container %}
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->

        <!-- END THEME PANEL -->
        <h1 class="page-title"> {% trans 'student_degrees' %} | <a class="btn btn-primary"
                                                                       href="{% url 'degree_create' student.user.id %}">{% trans 'degree_add' %}</a>
            {#            <small>user account page</small>#}
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                {% if create_messages %}
                    <div style="text-align: center;" id="news-list-error-message" class="alert alert-success">
                        <strong>{{ create_messages }}</strong></div>
                {% endif %}
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content" style="background: #fff">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="display: none;" id="news-list-error-message" class="alert alert-danger"></div>
                            <table class="table table-users">
                                <thead>
                                <tr>
                                    {#			<th class="min-width"></th>#}
                                    {#                                        <th><i class="fa fa-eye" aria-hidden="true"></i> {% trans 'preview' %}</th>#}
                                    <th>{% trans 'first_name_and_last_name' %}</th>
                                    <th>{% trans 'competition' %}</th>
                                    <th>{% trans 'degree' %}</th>
{#                                    <th>{% trans 'description' %}</th>#}
                                    <th>{% trans 'date' %}</th>
                                    <th class="min-width"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for degree in degrees %}
                                    <tr id="profile-list-item-{{ degree.id }}">
                                        {#                    <td class="min-width"><input type="checkbox" /></td>#}

                                        <td>
                                                <span class="user-image"
                                                      style="background-image: url('{% static 'main/assets/img/tmp/agent-1.jpg' %}');"></span>
                                            {{ degree.student.user.first_name }} {{ degree.student.user.last_name }}
                                        </td>
                                        <td>
                                            {{ degree.competition }}
                                        </td>
                                        <td>
                                            {{ degree.degree }}
                                        </td>
                                        <td>
                                                <span class="user-image"
                                                      style="background-image: url('{% static 'main/assets/img/tmp/agent-1.jpg' %}');"></span>
                                            {{ degree.date|date:'d F Y H:m' }}
                                        </td>
                                            <td class="min-width">
                                                <a href="{% url 'degree_edit' student.user.id degree.id %}?next_url={{ request.path }}" class="btn btn-primary"><i class="fa fa-pencil"></i>
                                                    {% trans 'edit' %}</a>
{#                                                <a onclick="deleteNews( '{% url 'deletenews' student.id %}')" class="btn btn-danger">#}
{#                                                    {% trans 'Remove' %}#}
{#                                                </a>#}
                                            </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <script src="{% static 'userprofile/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'userprofile/assets/js/userprofile.js' %}"></script>
    <script>
        function deleteNews($url) {
            $.confirm.show({
                "message": "Silmək istədyinizdən Əminsiniz.",
                "type": "danger",
                "yes": function () {
                    window.location.replace($url);
                }
            })
        }
    </script>
{% endblock %}