{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}
{% block up_main_container %}
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->

        <!-- END THEME PANEL -->
        <h1 class="page-title"> {% trans 'groups' %} | <a class="btn btn-primary" href="{% url 'creategroup' %}">{% trans 'add_new_gruup' %}</a>
{#            <small>user account page</small>#}
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12" >
                {% if create_messages %}
                    <div style="text-align: center;" id="news-list-error-message" class="alert alert-success"><strong>{{ create_messages }}</strong></div>
                {% endif %}
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content" style="background: #fff">
                    <div class="row">
                        <div class="col-md-12">
                                <div style="display: none;" id="news-list-error-message" class="alert alert-danger"></div>
                                <table class="table table-users">
                                    <thead>
                                    <tr>
                                        {#			<th class="min-width"></th>#}
{#                                        <th><i class="fa fa-eye" aria-hidden="true"></i> {% trans 'preview' %}</th>#}
{#                                        <th><i class="fa fa-eye" aria-hidden="true"></i> {% trans 'image' %}</th>#}
                                        <th>{% trans 'name' %}</th>
                                        <th>{% trans 'series_number' %}</th>
                                        <th>{% trans 'teacher_name' %}</th>
{#                                        <th class="min-width"></th>#}
{#                                        <th class="min-width"></th>#}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for group in groups %}
                                        <tr id="profile-list-item-{{ group.id }}">
                                            {#                    <td class="min-width"><input type="checkbox" /></td>#}

                                            <td>
                                                <span class="user-image"
                                                      style="background-image: url('{% static 'main/assets/img/tmp/agent-1.jpg' %}');"></span>
                                                {{ group.name }}
                                            </td>
                                            <td>
                                                <span class="user-image"
                                                      style="background-image: url('{% static 'main/assets/img/tmp/agent-1.jpg' %}');"></span>
                                                {{ group.series_number }}
                                            </td>
                                            <td>
                                                <span class="user-image"
                                                      style="background-image: url('{% static 'main/assets/img/tmp/agent-1.jpg' %}');"></span>
                                                {{ group.teacher.first_name }} {{ group.teacher.last_name }}
                                            </td>
                                            <td class="min-width">
                                                <a href="{% url 'editgroup' group.id %}?next_url={{ request.path }}" class="btn btn-primary"><i class="fa fa-pencil"></i>
                                                    {% trans 'edit' %}</a>
{#                                                <a onclick="deleteNews( '{% url 'deletenews' student.id %}')" class="btn btn-danger">#}
{#                                                    {% trans 'Remove' %}#}
{#                                                </a>#}
                                            </td>

                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>

                                <div class="pagination-wrapper">
                                    <ul class="pagination">
                                        {% if groups.has_previous %}
                                            <li class="page-item "><a class="page-link"
                                                                      href="?page={{ groups.previous_page_number }}">«</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><a class="page-link" href="">»</a></li>
                                        {% endif %}
                                        {% for i in groups.paginator.page_range %}
                                            {% if groups.number == i %}
                                                <li class="page-item active"><a class="page-link" href="">{{ i }} <span
                                                        class="sr-only">(current)</span></a>
                                                </li>
                                            {% else %}
                                                <li class="page-item "><a class="page-link"
                                                                          href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if groups.has_next %}
                                            <li class="page-item "><a class="page-link"
                                                                      href="?page={{ groups.next_page_number }}">»</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><a class="page-link" href="">»</a></li>
                                        {% endif %}
                                    </ul>
                                </div><!-- /.pagination-wrapper -->
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <script src="{% static 'userprofile/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'userprofile/assets/js/userprofile.js' %}"></script>
		<script>
			function deleteNews($url){
				$.confirm.show({
					"message":"Silmək istədyinizdən Əminsiniz.",
					"type":"danger",
					"yes":function(){
                        window.location.replace($url);
					}
				})
			}
		</script>
{% endblock %}