{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load widget_tweaks %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">

    <link id="bs-css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'select2/select2-bootstrap.css' %}">
    <link id="bsdp-css" href="{% static 'datetime/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
    <link id="bsdp-css" href="{% static 'datetime/css/bootstrap-datepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block up_main_container %}
<style>
.invalid{
	border: 1px solid red;
}
.errorlist {
    list-style-type: none;
}
</style>
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->

        <!-- END THEME PANEL -->
        <h1 class="page-title"> {% trans 'group' %}
            <small>{% trans 'group' %}</small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">

                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">{% trans 'group' %}</span>
                                    </div>
                                </div>
                                <div id="change-profile-error"
                                     style="text-align: center; padding: 10px; border: 1px solid #ff0000; border-radius: 5px !important; background: antiquewhite; display: none;">
                                    test
                                </div>
                                <div id="change-profile-success"
                                     style="text-align: center; padding: 10px; border: 1px solid darkgreen; border-radius: 5px !important; background: rgba(0, 100, 0, 0.25); display: none;">
                                    test
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <!-- PERSONAL INFO TAB -->
                                        <div class="tab-pane active" id="tab_1_1">
                                            <form role="form" action="{% if next_url %}?next_url={{ next_url }}{% endif %}" method="post" id="changeprofile_form" enctype="multipart/form-data" >
                                                {% csrf_token %}
{#                                                {{ form.identified_data }}#}
{#                                                <input type="text" id="identified" name="identified" value="{{ news_c.unique_name }}">#}
{#                                                <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">#}
{#                                                    <label class="control-label">{% trans 'Categorys' %}</label>#}
{#                                                    {{ form.first_name|add_class:"form-control select2-multiple" }}#}
{#                                                    {% if form.first_name.errors %}#}
{#                                                        <div class="alert alert-danger" style="padding: 7px 0;">#}
{#                                                            <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">#}
{#                                                                ×#}
{#                                                            </button>#}
{#                                                            <strong>{{ form.first_name.errors }}</strong>#}
{#                                                        </div>#}
{#                                                    {% endif %}#}
{#                                                </div>#}
{#                                                <div class="form-group {% if form.image.errors %}has-error{% endif %}">#}
{#                                                    <label class="control-label">{% trans 'Image' %}</label>#}
{#                                                    {{ form.image }}#}
{#                                                    {% if news_c %}#}
{#                                                        <hr>#}
{#                                                        <img style="border: 1px solid; padding: 2px;" src="{{ news_c.image.url }}" height="200px">#}
{#                                                    {% endif %}#}
{#                                                    {% if form.image.errors %}#}
{#                                                        <div class="alert alert-danger" style="padding: 7px 0;">#}
{#                                                            <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">#}
{#                                                                ×#}
{#                                                            </button>#}
{#                                                            <strong>{{ form.image.errors }}</strong>#}
{#                                                        </div>#}
{#                                                    {% endif %}#}
{#                                                </div>#}
                                                <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'name' %}</label>
                                                    {{ form.name|add_class:"form-control" }}
                                                    {% if form.name.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.name.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group {% if form.series_number.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'series_number' %}</label>
                                                    {{ form.series_number|add_class:"form-control" }}
                                                    {% if form.series_number.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.series_number.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group {% if form.teacher.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'teacher' %}</label>
                                                    {{ form.teacher|add_class:"form-control  select2-single" }}
                                                    {% if form.teacher.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.teacher.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group {% if form.students.errors %}has-error{% endif %}">
                                                    <label class="control-label">{% trans 'students' %}</label>
                                                    {{ form.students|add_class:"form-control  select2-multiple" }}
                                                    {% if form.students.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.students.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <div class="form-group" id="sandbox-container">

                                                    <label class="control-label">{% trans 'start_date' %}</label>
                                                    <div class="input-group date">
                                                        {{ form.start_date|add_class:"form-control" }}<span
                                                            class="input-group-addon"><i
                                                            class="glyphicon glyphicon-th"></i></span>
                                                    </div>
                                                    {% if form.start_date.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button"
                                                                    class="close" data-dismiss="alert"
                                                                    aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.start_date.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group" id="sandbox-container">
                                                    <label class="control-label">{% trans 'end_date' %}</label>
                                                    <div class="input-group date">
                                                        {{ form.end_date|add_class:"form-control" }}<span
                                                            class="input-group-addon"><i
                                                            class="glyphicon glyphicon-th"></i></span>
                                                    </div>
                                                    {% if form.end_date.errors %}
                                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                                            <button style="margin: 5px 10px;" type="button"
                                                                    class="close" data-dismiss="alert"
                                                                    aria-hidden="true">
                                                                ×
                                                            </button>
                                                            <strong>{{ form.end_date.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="form-group">
                                                    <input class="btn btn-success" type="submit" value="{% trans 'submit' %}"/>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- END PERSONAL INFO TAB -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'select2/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    {#    <script src="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>#}
    <script src="{% static 'datetime/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'datetime/locales/bootstrap-datepicker.az.min.js' %}"
            charset="UTF-8"></script>
    <script src="{% static 'datetime/locales/bootstrap-datepicker.ru.min.js' %}"
            charset="UTF-8"></script>
    <script src="{% static 'datetime/locales/bootstrap-datepicker.tr.min.js' %}"
            charset="UTF-8"></script>
    <script>
        {#        $(".date-picker").datepicker({#}
        {#            format: 'yyyy-mm-dd'#}
        {#        });#}
        {#        $('#id_paid').change()#}
        $('.input-group.date').datepicker({
            format: "yyyy-mm-dd"
        });

        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap",
            language: "az",
            placeholder: "Select a State",
            maximumSelectionSize: 6,
            containerCssClass: ':all:'
        });

    </script>
{% endblock %}