{% load static %}
{% load i18n %}

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>Chess Academy | {% trans 'login_page' %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Preview page of Metronic Admin Theme #2 for " name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'userprofile/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{% static 'userprofile/assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <link href="{% static 'userprofile/assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{% static 'userprofile/assets/pages/css/login-5.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    {#        <link rel="shortcut icon" href="favicon.ico" /> </head>#}
    <!-- END HEAD -->

<body class=" login">
<!-- BEGIN : LOGIN PAGE 5-2 -->
<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 login-container bs-reset">
{#            <a href="{% url 'profile' %}">#}
{#                <img class="login-logo login-6" src="{% static 'userprofile/assets/pages/img/login/login-invert.png' %}"/>#}
{#            </a>#}
            <div class="login-content">
                <h1>{% trans 'login_page' %}</h1>
{#                <p>  </p>#}
                <form id="login_user_form" action="{% url 'login_user' %}"  class="login-form" method="post">
                    {% csrf_token %}
                    <div id="signin-message" style="display: none;text-align: center;" class="alert alert-danger">
                    </div>
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>{% trans 'enter_any_username_and_password' %}. </span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input class="form-control form-control-solid placeholder-no-fix form-group" type="text"
                                   autocomplete="off" placeholder="{% trans 'username' %}" id="access_name" name="access_name"
                                   required/></div>
                        <div class="col-xs-6">
                            <input id="access_password"
                                   class="form-control form-control-solid placeholder-no-fix form-group" type="password"
                                   autocomplete="off" placeholder="{% trans 'password' %}" name="access_password" required/></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
{#                            <label class="rememberme mt-checkbox mt-checkbox-outline">#}
{#                                <input type="checkbox" name="remember" value="1"/> {% trans 'remember_me' %}#}
{#                                <span></span>#}
{#                            </label>#}
                        </div>
                        <div class="col-sm-8 text-right">
                            {#                                    <div class="forgot-password">#}
                            {#                                        <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>#}
                            {#                                    </div>#}
                            <a id="login-button"  onclick="loginForm()" class="btn blue">{% trans 'sign_in' %}</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-7 bs-reset">
                        <div class="login-copyright text-right">
{#                            <p>Copyright &copy; Keenthemes 2015</p>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bs-reset">
            <div class="login-bg"></div>
        </div>
    </div>
</div>
<!-- END : LOGIN PAGE 5-2 -->
<!--[if lt IE 9]>
<script src="{% static 'userprofile/assets/global/plugins/respond.min.js' %}"></script>
<script src="{% static 'userprofile/assets/global/plugins/excanvas.min.js' %}"></script>
<script src="{% static 'userprofile/assets/global/plugins/ie8.fix.min.js' %}"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'userprofile/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'userprofile/assets/global/plugins/bootstrap/js/bootstrap.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'userprofile/assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'userprofile/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'userprofile/assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'userprofile/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'userprofile/assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'userprofile/assets/global/plugins/jquery-validation/js/additional-methods.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'userprofile/assets/global/plugins/select2/js/select2.full.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'userprofile/assets/global/plugins/backstretch/jquery.backstretch.min.js' %}"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{% static 'userprofile/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'userprofile/assets/pages/scripts/login-5.min.js' %}" type="text/javascript"></script>
<script src="{% static 'userprofile/assets/js/userprofile.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<!-- END THEME LAYOUT SCRIPTSrrr -->
<script>
$("#login_user_form").submit(function(e){

    return false;
});
</script>
</body>

</html>