{% extends 'userprofile_base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% block head_container %}
    <title>{{ site_info.site_name }}</title>
    <meta name="keywords" content="{{ site_info.site_name }}"/>
    <meta name="description" content="{{ site_info.site_name }}">

{% endblock %}
{% block up_main_container %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'star/css/css/star-rating-svg.css' %}">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title"> {{ group.name }}
            <small>@{{ group.teacher.name }} </small>
        </h1>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <!-- PORTLET MAIN -->
                    <div class="portlet light profile-sidebar-portlet " style="padding: 0 !important;">
                        <div class="span3 well" style="background: #FFFFFF">
                            <center style="margin-top: 30px;">
                                <a style="color: #000000" href="#journal-Modal-{{ forloop.counter }}"
                                   data-toggle="modal">
                                    <i style="font-size: 50px;" class="fa fa-users" aria-hidden="true"></i>
                                    {#                                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle">#}
                                </a>
                                <h3 style="margin-top: 10px;">{{ group.name }}</h3>
                                <hr>
                                <h3 style="margin-top: 10px;">{{ group.teacher.first_name }} {{ group.teacher.last_name }}</h3>
                                <a onclick="rateOpen('rate-div')" class="btn btn-warning"><i style="" class="fa fa-star"
                                                                                          aria-hidden="true"></i> {% trans 'rate_teacher' %}
                                </a>
                                <p id="rate-div" style="display: none">
                                    <span class="my-rating-9" onclick="rateTeacher()"></span>
                                    <span style="display: none;" class="live-rating">{{ rate }}</span>
                                    <span id="star-url" style="display: none;">{% url 'my_group' %}</span>
                                </p>
                            </center>

                        </div>
                        <!-- END MENU -->
                    </div>

                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-users"></i>{{ group.name }}
                            </div>
                            <div class="tools"></div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_2">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th> {% trans 'Name' %}</th>
                                    <th> {% trans 'Phone' %}</th>
                                    <th> {% trans 'email' %}</th>
                                    <th> {% trans 'Brith Date' %}</th>
                                    <th> {% trans 'Times Code' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for group_student in group.students.all %}
                                    <tr {% if group_student.id == student.id %} style="background: #abf8ff;"{% endif %}>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ group_student.user.first_name }} {{ group_student.user.last_name }}</td>
                                        <td> {{ group_student.phone }}</td>
                                        <td> {{ group_student.email }}</td>
                                        <td> {{ group_student.birth_date|date:'d F Y' }}</td>
                                        <td> {{ group_student.times_code }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <script src="{% static 'userprofile/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'userprofile/assets/pages/scripts/table-datatables-rowreorder.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'star/css/jquery.star-rating-svg.js' %}"></script>
    <script>
        $(".my-rating-9").starRating({
            initialRating: {{ rate }},
            disableAfterRate: false,
            onHover: function (currentIndex, currentRating, $el) {
                $('.live-rating').text(currentIndex);
            },
            onLeave: function (currentIndex, currentRating, $el) {
                $('.live-rating').text(currentRating);
            }
        });
    </script>
    <script>
        function rateOpen($param) {
            div = $('#' + $param);
            if (!div.is(':visible')) {
                div.show();
            } else {
                div.hide();
            }
        }

    </script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function rateTeacher() {
            rating_form = $('#film-star-add');

            var star = $('.live-rating').text();
            var url = $('#star-url').text();
            {#                            alert(star)#}
            {#                            var url = rating_form.attr('action');#}
            {#                    alert(id + ' ' + url);#}
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: csrftoken,
                    star: star
                },
                success: function (json) {
                    star.text(json['rate']);
                    {#                                    $("#star-"+star+"-2").attr('checked', 'checked');#}
                },
                error: function (xhr, err) {
                    {#                        alert('error')#}
                }
            });
        }
    </script>
{% endblock %}