{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="{% static 'mainsection/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <link href="{% static 'mainsection/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'mainsection/css/custom.css' %}" rel="stylesheet"/>
    {% block head_block %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="../../../../oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="../../../../oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>
<body>
<header class="main__header {% if page_index and page_index == 'home' %}{% else %}normal{% endif %}">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-header">
                <h1 style="padding:0;margin: 12px 0 0 0;" class="navbar-brand"><a href="{% url 'index' %}">
                    <img style="max-height: 60px;" src="{% static 'mainsection/background/logo-2.png' %}">
                </a></h1>
                <a href="#" class="submenu">Menus </a></div>
            <div class="menuBar">
                <ul class="menu">
                    <li class="dropdown"><a href="#">{% trans 'vugar_gashimov' %} </a>
                        <ul>
                            <li><a href="{% url 'about_vuqar' 'biography' %}">{% trans 'biography' %}</a></li>
                            <li><a href="{% url 'about_vuqar' 'childhood' %}">{% trans 'vuqar_childhood' %}</a></li>
                            <li><a href="{% url 'about_vuqar' 'titles' %}">{% trans 'vuqar_titles' %}</a></li>
{#                            <li><a href="{% url 'about_vuqar' 'participan' %}">{% trans 'participan_tourments' %}</a></li>#}
                            <li><a href="{% url 'about_vuqar' 'photos' %}">{% trans 'my_vugars_world' %}</a></li>
                            <li><a href="{% url 'about_vuqar' 'aphorism' %}">{% trans 'aphorism' %}</a></li>
                            <li><a href="{% url 'about_vuqar' 'vuqar-in-the-world' %}">{% trans 'vuqar-in-the-world' %}</a></li>
                            <li><a href="{% url 'about_vuqar' 'genius' %}">{% trans 'genius' %} </a></li>
                            <li><a href="{% url 'about_vuqar' 'disinterested-human' %}">{% trans 'disinterested-human' %}</a></li>
                            <li><a href="{% url 'about_vuqar' 'vugar-museum' %}">{% trans 'vugar-museum' %}</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="{% url 'index' %}">{% trans 'home' %} </a></li>
                    {#           <li><a href="{% url 'index' %}">{% trans 'vugar_gashimov' %} </a></li>#}
                    <li><a class="" href="{% url 'blog' %}">{% trans 'blog' %}</a></li>
                    <li><a class="" href="{% url 'news' %}">{% trans 'news' %}</a></li>
                    <li><a class="" href="{% url 'tournaments' %}">{% trans 'tournaments' %}</a></li>
                    <li><a href="{% url 'apply' %}">{% trans 'apply' %}</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
</header>
{% block content_block %}

{% endblock %}
<footer class="section-row-backgorund-image-no-transparent">
    <div class="container section-container-backgorund-color-footer">
        <div class="row">
            <div class="col-md-3">
                <h3>{% trans 'Vugar Gashimov Chess Academy' %} </h3>
                <p>
                    <img style="max-height: 150px;" src="{% static 'mainsection/background/logo-2.png' %}">
                </p>
            </div>
            <div class="col-md-3">
                <h3>{% trans 'vugar_gashimov' %}</h3>
{#                <p> </p>#}
                <p>
                    Dərin düşüncəyə , geniş dünyagörüşə , zəngin intellektə , parlaq zəkaya , yüksək ensiklopedik biliyə malik , məğrur , sadə , təvazökar , həssas , qayğıkeş , mehriban , səmimi , mübariz , fədəkar, əsl vətəndaş, əsl dost, əsl övlad - Vüqar Həşimov !
                </p>
            </div>
            <div class="col-md-3">
                <h3>{% trans 'apply_to_academy' %} </h3>
                <p>{% trans 'learn_chess_with_vugar_gashimov_chess_academy' %} </p>
                <br/>
                    <a href="{% url 'apply' %}" class="btn btn-primary btn-md">{% trans 'apply' %}</a>
            </div>
            <div class="col-md-3">
                <h3>{% trans 'contact' %} </h3>
                <p>Bakı şəhəri, Yasamal rayonu, <br/>
                    Bəsti Bağirova 2<br/>
                    Dövlət Statistika komitəsi ilə üzbəüz<br/>
                    <br/>
                    {% trans 'phone'|title %}: +994 (050) 353-10-10 <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+994 (070) 353-10-10 <br/>
                    {% trans 'telephone'|title %}: +994 (012) 436-86-10 <br/>
                    <br/>
                </p>
                <div class="social__icons">
                    {% for base_social in base_socials %}
                        <a target="_blank" href="{{ base_social.url }}" class="{{ base_social.icon_class }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</footer>
<p class="text-center copyright">&copy; {% trans 'Copyright Vugar Gashimov Chess Academy. Rights Reserved' %}. </p>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{% static 'mainsection/js/jquery.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'mainsection/js/bootstrap.min.js' %}"></script>
{% block footer_block %}
{% endblock %}
<script type="text/javascript">
    $('.carousel').carousel({
        interval: 3500, // in milliseconds
        pause: 'none' // set to 'true' to pause slider on mouse hover
    })
</script>


<script type="text/javascript">
    $("a.submenu").click(function () {
        $(".menuBar").slideToggle("normal", function () {
// Animation complete.
        });
    });
    $("ul li.dropdown a").click(function () {
        $("ul li.dropdown ul").slideToggle("normal", function () {
// Animation complete.
        });
        $('ul li.dropdown').toggleClass('current');
    });
</script>

</body>
</html>