{% load static %}
{% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        {% block head_container %}

        {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="{{ site_info.site_name }}" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'userprofile/assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'userprofile/assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'userprofile/assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'userprofile/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
{#        <link href="{% static 'userprofile/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet" type="text/css" />#}
        <link href="{% static 'userprofile/assets/global/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'userprofile/assets/global/plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'userprofile/assets/global/plugins/jqvmap/jqvmap/jqvmap.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'userprofile/assets/global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'userprofile/assets/global/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'userprofile/assets/pages/css/blog.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <link href="{% static 'userprofile/assets/pages/css/profile.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static 'userprofile/assets/layouts/layout2/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'userprofile/assets/layouts/layout2/css/themes/blue.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static 'userprofile/assets/layouts/layout2/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
        {% block css_container %}

        {% endblock %}
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="{% url 'profile' %}">
                        <img src="{% static 'userprofile/assets/images/userprofile-logo.png' %}" alt="logo" class="logo-default" /> </a>
                    <div class="menu-toggler sidebar-toggler">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <div class="page-top">
                    {% if base_type == "teacher" %}
                    <form class="search-form search-form-expanded" action="{% url 'student_search' %}" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{% trans 'search' %}..." name="search" value="{{ search }}">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                    {% endif %}
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">

                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="{% static 'userprofile/assets/global/img/icon-user-default.png' %}" />
                                    <span class="username username-hide-on-mobile"> @{{ request.user.username|lower }} </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="{% url 'profile' %}">
                                            <i class="icon-user"></i> {% trans 'my_profile' %} </a>
                                    </li>

{#                                    <li>#}
{#                                        <a href="app_todo_2.html">#}
{#                                            <i class="icon-rocket"></i> My Tasks#}
{#                                            <span class="badge badge-success"> 7 </span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="divider"> </li>#}
{#                                    <li>#}
{#                                        <a href="page_user_lock_1.html">#}
{#                                            <i class="icon-lock"></i> Lock Screen </a>#}
{#                                    </li>#}
                                    <li>
                                        <a href="{% url 'logout' %}">
                                            <i class="icon-key"></i> {% trans 'log_out' %} </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- END SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item start active open">
                            <a href="{% url 'profile' %}" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">{% trans 'dashboard' %}</span>
                                <span class="selected"></span>
{#                                <span class="arrow open"></span>#}
                            </a>
                        </li>
{#                        {% if request.user.is_authenticated and base_type == "teacher"  and request.user.is_staff  or request.user.is_admin %}#}
{##}
{#                        {% endif %}#}
                        {% if request.user.is_authenticated and base_type == "student"  and request.user.is_active %}
                        <li class="nav-item start ">
                            <a href="{% url 'student_feedback' %}" class="nav-link">
                                <i class="fa fa-user"></i>
                                <span class="title">{% trans 'write_feedback' %}</span>
                                <span class="selected"></span>
{#                                <span class="arrow open"></span>#}
                            </a>
                        </li>
                        {% endif %}
                        {% if request.user.is_authenticated  and request.user.is_staff  and request.user.is_superuser %}
                        <li class="nav-item  ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-users"></i>
                                <span class="title">{% trans 'people' %}</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{% url 'teacherlist' %}" class="nav-link ">
                                        <span class="title">{% trans 'teachers' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{% url 'studentlist' %}" class="nav-link ">
                                        <span class="title">{% trans 'students' %}</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{% url 'grouplist' %}" class="nav-link ">
                                        <span class="title">{% trans 'groups' %}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item start ">
                            <a href="{% url 'admin:index' %}" class="nav-link">
                                <i class="fa fa-user"></i>
                                <span class="title">{% trans 'adminstration' %}</span>
                                <span class="selected"></span>
{#                                <span class="arrow open"></span>#}
                            </a>
                        </li>
                        {% elif request.user.is_authenticated and base_type == "teacher"  and request.user.is_active %}
                        <li class="nav-item start ">
                            <a href="{% url 'admin:index' %}" class="nav-link">
                                <i class="fa fa-user"></i>
                                <span class="title">{% trans 'adminstration' %}</span>
                                <span class="selected"></span>
{#                                <span class="arrow open"></span>#}
                            </a>
                        </li>
                        {% endif %}
{#                        <li class="nav-item  ">#}
{#                            <a href="javascript:;" class="nav-link nav-toggle">#}
{#                                <i class="icon-settings"></i>#}
{#                                <span class="title">{% trans 'settings' %}</span>#}
{#                                <span class="arrow"></span>#}
{#                            </a>#}
{#                            <ul class="sub-menu">#}
{#                                <li class="nav-item  ">#}
{#                                    <a href="{% url 'profiles_info' %}" class="nav-link ">#}
{#                                        <span class="title">{% trans 'change_profile_details' %}</span>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li class="nav-item  ">#}
{#                                    <a href="{% url 'change_password' %}" class="nav-link ">#}
{#                                        <span class="title">{% trans 'change_password' %}</span>#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        {% if te %}#}
{#                            <li class="nav-item  ">#}
{#                                <a href="{% url 'journals' %}" class="nav-link nav-toggle">#}
{#                                    <i class="icon-wallet"></i>#}
{#                                    <span class="title">{% trans 'Journals' %}</span>#}
{#                                    <span class="arrow"></span>#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        <li class="nav-item start active open">#}
{#                            <a href="{% url 'books' %}" class="nav-link nav-toggle">#}
{#                                <i class="icon-wallet"></i>#}
{#                                <span class="title">{% trans 'Catalogs' %}</span>#}
{#                                <span class="selected"></span>#}
{#                                <span class="arrow open"></span>#}
{#                            </a>#}
{#                        </li>#}

                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                {% block up_main_container %}

                {% endblock %}
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner"> &copy; {{ now.year }} {{ site_info.site_name }} . {% trans 'all_rights_reserved' %}
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
        </div>
            <!-- END FOOTER -->
            <!-- BEGIN QUICK NAV -->
            <!-- END QUICK NAV -->
            <!--[if lt IE 9]>
<script src="{% static 'userprofile/assets/global/plugins/respond.min.js' %}"></script>
<script src="{% static 'userprofile/assets/global/plugins/excanvas.min.js' %}"></script>
<script src="{% static 'userprofile/assets/global/plugins/ie8.fix.min.js' %}"></script>
<![endif]-->
            <!-- BEGIN CORE PLUGINS -->
            <script src="{% static 'userprofile/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
            <!-- END CORE PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <script src="{% static 'userprofile/assets/global/plugins/moment.min.js' %}" type="text/javascript"></script>
{#            <script src="{% static 'userprofile/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>#}
            <script src="{% static 'userprofile/assets/global/plugins/morris/morris.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/morris/raphael-min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/amcharts/amcharts/amcharts.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/amcharts/amcharts/serial.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/amcharts/amcharts/pie.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/amcharts/amcharts/radar.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/amcharts/amcharts/themes/light.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/amcharts/amcharts/themes/patterns.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/amcharts/amcharts/themes/chalk.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/amcharts/ammap/ammap.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/amcharts/amstockcharts/amstock.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/fullcalendar/fullcalendar.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/horizontal-timeline/horizontal-timeline.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/flot/jquery.flot.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/flot/jquery.flot.resize.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/flot/jquery.flot.categories.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jquery.sparkline.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js' %}" type="text/javascript"></script>
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="{% static 'userprofile/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
            <!-- END THEME GLOBAL SCRIPTS -->
            <!-- BEGIN PAGE LEVEL SCRIPTS -->
            <script src="{% static 'userprofile/assets/pages/scripts/dashboard.min.js' %}" type="text/javascript"></script>
            <!-- END PAGE LEVEL SCRIPTS -->
            <!-- BEGIN THEME LAYOUT SCRIPTS -->
            <script src="{% static 'userprofile/assets/layouts/layout2/scripts/layout.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/layouts/layout2/scripts/demo.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'userprofile/assets/layouts/global/scripts/quick-nav.min.js' %}" type="text/javascript"></script>
            <!-- END THEME LAYOUT SCRIPTS -->
{#            <script src="{% static 'userprofile/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>#}
{#            <script src="{% static 'userprofile/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>#}
{#            <script src="{% static 'userprofile/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}" type="text/javascript"></script>#}
{#            <script src="{% static 'userprofile/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>#}
{#            <script src="{% static 'userprofile/assets/global/plugins/clockface/js/clockface.js' %}" type="text/javascript"></script>#}
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="{% static 'userprofile/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
            <!-- END THEME GLOBAL SCRIPTS -->
            <!-- BEGIN PAGE LEVEL SCRIPTS -->
{#            <script src="{% static 'userprofile/assets/pages/scripts/components-date-time-pickers.min.js' %}" type="text/javascript"></script>#}
            <!-- END PAGE LEVEL SCRIPTS -->
        {% block js_container %}

        {% endblock %}
    </body>

</html>