.menu-backgorund {
    background: #c8f594;
    color: black;
}

.section-row-backgorund-image {
    background: url(../background/back4.png) !important;
}

.section-row-backgorund-image-no-transparent {
    background: url(../background/back5.png) !important;
}

.section-container-backgorund-color {
    background: #FFFFFF !important;
}

.section-container-backgorund-color-footer {
    background: #c8f594 !important;
}

.no_padding_c {
    padding: 0 !important;
}

.home-about-section-bacground {
    background: #33d53a !important;
}

.title-color-white {
    color: #000000;
}

p {
    color: #000;
    font-family: "Roboto", sans-serif !important;
}
#vugare-page-main-data p {
    color: #000 !important;
    font-family: "Roboto", sans-serif !important;
}
@media(min-width:768px)  {
    #home-blog-sec .col-md-4 a img{
        max-height: 222px;
        min-height: 222px;
    }
}